/*The Header*/
.navigation {
	position: relative;
	height: 100px;
	width: 1180px;
	margin: 0 auto;
	line-height: 114px;
	border-bottom: 1px solid #E5e5e5
}
.navigation h1{
	position: absolute;
	display: inline-block;
	list-style: none;
	top: -20%;
	right: 98%
}
.navigation li{
	display: inline-block;
	list-style: none;
	margin: 0 20px
}
.navigation .active a,
.navigation a:hover{
	color: #ff510a;
}
.navigation a{
	color: #000;
	text-decoration: none
}
.head-nav{
	max-width: 1180px;
	margin: 0 auto
}
.list-nav,
.login-nav,
.search-icon{
	position: absolute;
	display: inline-block;
	list-style: none;
	bottom: -20%
}
.list-nav{
	right: 53%;
}
.login-nav{
	right: 0%;
}
.login-icon{
	position: absolute;
	right: 83%;
	top: 38%
}
.bag-icon{
	position: absolute;
	right: 52%;
	top: 38%
}
.list-nav,
.login-nav,
.login-icon,
.bag-icon,
.search-icon{
	display: inline-block;
}
.search-icon {
	top: 14%;
}
/*End of Header*/

/*The Body*/
.body{
	max-width: 1180px;
	margin: 0 auto
}
.title{
	padding: 10% 0 10% 0;
	text-align: center;
	position: relative
}
.title h1{
	font-family: 'sans';
	font-size: 66px;
	text-transform: uppercase;
	line-height: 55px;
	color: #000
}
.title p{
	font-family: 'Georgia';
	font-size: 24px;
	color: #606060;
	font-style: italic
}
.title a{
	position: absolute;
	bottom: 8%;
	left: 42%;
	color: #606060;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid #606060
}
.stuffed-image img{
	padding-top: 8%;
	max-width: 1200px
}
.sign-up{
	padding-top: 10%;
	text-align: center
}
.sign-up h1{
	text-transform: uppercase;
	font-size: 30px;
	color: #000
}
.sign-up p{
	font-family: 'sans';
	font-size: 22px;
	font-style: italic;
	color: #606060
}
.sign-up form{
	padding-top: 4%;
}
.sign-up input{
	width: 400px;
	height: 40px;
	text-indent: 3%
}
.sign-up button{
	width: 75px;
	height: 40px;
	border: none;
	color: #fff;
	background-color: orange
}
/*End of Body*/

/*Footer*/
.footer{
	position: relative;
	margin: 0 auto;
	height: 250px;
	max-width: 1200px
}
.footer ul{
	text-transform: uppercase;
	font-weight: bold
}
.footer ul,
.footer li{
	font-size: 16px;
	margin: 15px 0
}
.footer a{
	text-decoration: none;
	text-transform: none;
	font-size: 14px;
	font-weight: normal;
	color: #000
}
.footer a:hover{
	color: #ff510a;
}
.footer-content {
	max-width: 1180px;
	margin: 0 auto
}
.collection{
	left: 0%;
	bottom: 0%;
}
.site{
	left: 23%;
	bottom: 0%;
}
.shop{
	left: 46%;
	bottom: 0%;
}
.site,
.shop,
.links{
	border-left: 1px solid #E5e5e5
}
.links{
	margin: 1% 0 0 72%;
}
.links h1{
	font-size: 16px;
	text-transform: uppercase
}
.links p{
	text-decoration: none;
	text-transform: none;
	font-size: 14px;
	font-weight: 100px;
	color: #000
}
.links p,
.links a{
	margin: 20px 0;
}
.collection,
.site,
.shop,
.links{
	position: absolute;
	display: inline-block;
	width: 300px;
	height: 215px;
	top: 25%;
	list-style: none
}
.links-img a{
	font-size: 0;
}
/*End of Footer*/

/*Men's Page*/
.body-content{
	max-width: 1180px;
	margin: 0 auto
}
.breadcrumb{
	padding-top: 3%;	
}
.breadcrumb a{
	text-decoration: none;
	margin: 20px;
	text-transform: uppercase;
	color: #000
}
.breadcrumb a:hover{
	color: #ff510a;
}
.coats,
.outerwear,
.tshirts{
	padding-top: 10%;
}
.coats h1,
.outerwear h1,
.tshirts h1{
	text-transform: uppercase;
	text-align: center
}
.coats p,
.outerwear p,
.tshirts p{
	text-align: center;
	font-style: italic
}
.coats a,
.outerwear a,
.tshirts a{
	text-decoration: none;
}
.coats-content,
.outerwear-content,
.tshirts-content{
	padding-top: 3%;
}
.coats-content td,
.outerwear-content td,
.tshirts-content td{
	padding-left: 70px;
	text-align: center
}
.coats-content tr:nth-child(2) td,
.outerwear-content tr:nth-child(2) td,
.tshirts-content tr:nth-child(2) td{
	padding-top: 3%;
	font-size: 16px;
	font-weight: bolder
}
.coats-content tr:nth-child(3) td,
.outerwear-content tr:nth-child(3) td,
.tshirts-content tr:nth-child(3) td{
	padding-top: 1%;
	font-size: 14px
}
.coats-content a,
.outerwear-content a,
.tshirts-content a{
	display: inline-block;
	padding-bottom: 3%;
	width: 208px;
	height: 256px;
	background: #fff url(../images/blanc.jpg) 50% 50% no-repeat;
	border: 0;
	font-size: 0
}
/*End of Men's Page*/

/*Shopping Bag's page*/
.shopping-head,
.shipping-address,
.payment-options{
	padding: 6% 0 0 0;
	text-align: center
}
.shopping-head h1,
.shipping-address h1,
.payment-options{
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000
}
.shopping-head p,
.shipping-address p,
.payment-options p{
	padding: 0 0 6% 0;
	font-family: sans-serif;
	font-size: 20px;
	color: #606060;
	font-style: italic	
}
.bag-content h1{
	font-size: 14px;
	text-transform: uppercase
}
.bag-content p{
	line-height: 10%;
	font-family: sans-serif;
	font-size: #606060;
	font-style: italic
}
.bag-content a{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #fff url(../images/blanc2.jpg) 50% 50% no-repeat;
	border: 0;
	font-size: 0
}
.bag-content tr{
	border-bottom: 1px solid #E5e5e5
}
.bag-content th{
	padding-bottom: 1%;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 12px;
	color: #606060
}
.bag-content tfoot{
	padding-top: 3%;
	background-color: #F7F7F7
}
.bag-content tfoot tr{
	border: 0;
}
.bag-content td{
	padding-top: 1%;
	padding-bottom: 1%
}
.bag-content th:nth-child(1){
	padding-right: 70px;
}
.bag-content th:nth-child(2){
	padding-right: 350px;
}
.bag-content th:nth-child(3),
.bag-content th:nth-child(4),
.bag-content th:nth-child(5),
.bag-content th:nth-child(6){
	padding-right: 80px;
}
.bag-content th:nth-child(7){
	padding-right: 100px;
}
.amount{
	position: relative;
}
.plus{
	position: absolute;
	bottom: 55%;
	left: 10%
}
.minus{
	position: absolute;
	top: 50%;
	left: 10%
}
.plus,
.minus{
	width: 20px;
	height: 20px;
	color: white;
	background-color: black;
	border: 0
}
.delete{
	background-color: white;
	border: 0
}
.subtotals{
	color: #F48240;
}
.zigzag-button{
	padding-top: 5%;
	padding-bottom: 5%
}
.zigzag-button button{
	padding-right: 100%;
	width: 100px;
	height: 20px;
	background: #fff url(../images/zigzag.jpg) 50% 50% no-repeat;
	border: 0;
	font-size: 0
}
.shipping-address,
.payment-options{
	border: 1px solid #E5e5e5;
}
.shipping-form{
	margin: 0 auto;
	max-width: 580px;
	height: 700px;
	position: relative
}
.delivery{
	text-transform: uppercase;
	font-family: sans-serif;
	color: #606060;
	position: absolute;
	left: 0;
	top: 0
}
.delivery-value,
.addressl1-input,
.addressl2-input{
	width: 580px;
	height: 42px;
	border: 2px solid #E5e5e5
}
.delivery-value{
	background-color: white;
	position: absolute;
	top: 4%;
	left: 0
}
.firstname{
	position: absolute;
	left: 0;
	top: 15%
}
.firstname,
.lastname,
.addressl1 span,
.addressl2 span,
.city,
.postal,
.phone,
.email{
	text-transform: uppercase;
	font-family: sans-serif;
	color: #606060
}
.firstname-input{
	position: absolute;
	left: 0;
	top: 19
}
.firstname-input,
.lastname-input,
.city-input,
.postal-input,
.phone-input,
.email-input{
	width: 280px;
	height: 42px;
	border: 2px solid #E5e5e5
}
.lastname{
	position: absolute;
	right: 33%;
	top: 15%
}
.addressl1{
	position: absolute;
	top: 30%;
	left: 0
}
.addressl1,
.addressl2,
.billing{
	font-family: sans-serif;
	color: #606060
}
.addressl1-input{
	position: absolute;
	top: 34%;
	left: 0
}
.addressl2{
	position: absolute;
	top: 45%;
	left: 0
}
.addressl2-input{
	position: absolute;
	top: 49%;
	left: 0
}
.city{
	position: absolute;
	top: 60%;
	left: 0
}
.city-input{
	position: absolute;
	top: 64%;
	left: 0
}
.postal{
	position: absolute;
	right: 30%;
	top: 60%
}
.postal-input{
	position: absolute;
	top: 64%;
	left: 0
}
.phone{
	position: absolute;
	top: 75%;
	left: 0
}
.phone-input{
	position: absolute;
	top: 79%;
	left: 0
}
.email{
	position: absolute;
	right: 38%;
	top: 75%
}
.email-input{
	position: absolute;
	top: 79%;
	right: 0
}
.billing{
	position: absolute;
	left: 38%;
	top: 90%
}
.billing-value{
	position: absolute;
	left: 34%;
	top: 90%
}
.payment-options{
	margin: 0 auto;
	height: 700px;
	position: relative
}
.subtotal{
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
	color: #606060;
	top: 40%;
	right: 0;
	width: 100%;
	text-align: center
}
.shipping{
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
	color: #606060;
	top: 45%;
	right: 0;
	width: 100%;
	text-align: center
}
.total{
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
	color: #F48240;
	top: 50%;
	right: 0;
	width: 100%;
	text-align: center
}
.payment{
	position: absolute;
	text-transform: uppercase;
	font-size: 16px;
	font-family: sans-serif;
	color: #606060;
	top: 65%;
	left: 26%
}
.payment-value{
	font-family: sans-serif;
	color: #606060;
	background-color: white;
	position: absolute;
	top: 70%;
	left: 26%;
	width: 580px;
	height: 42px;
	border: 2px solid #E5e5e5
}
.payment-value option[value="credit"]{
	background-image: url(./images/visa.png);
}
.order-button{
	text-transform: uppercase;
	color: white;
	position: absolute;
	width: 194px;
	height: 51px;
	background-color: #F48240;
	border: 0;
	top: 80%;
	left: 41%
}
/*End of Shopping Bag's page*/